<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

    </title>
    {%load static%}
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</head>
<body>
    <header>
      <nav class="bg-red-200 text-black shadow-md">
        <div class="container mx-auto px-6 py-3 flex justify-between items-center">
            <div class="text-lg font-bold">
                <a href="#" class="hover:text-gray-400">Meu Blog</a>
            </div>
            <div class="space-x-4">
                <a href="#" class="hover:text-gray-400">Início</a>
                <a href="#" class="hover:text-gray-400">Sobre</a>
                <a href="#" class="hover:text-gray-400">Categorias</a>
                <a href="#" class="hover:text-gray-400">Contato</a>
            </div>
        </div>
    </nav>

    </header>
    <main>
       {%block main%}
       {%endblock%}
    </main>
    <footer>
       
    </footer>
</html>