{%extends 'Blog/base.html'%}
{% load static %}
{%block main%}
<main class="container mx-auto px-6 py-12 flex">
    <section class="mb-8">
        <h1 class="text-3xl font-bold mb-4">Bem-vindo ao Meu Blog!</h1>
        <p class="text-lg text-gray-700">
            Aqui você encontrará artigos sobre diversos temas que me interessam. Desde dicas de programação até reflexões pessoais,
            espero que você encontre algo que ressoe com você.
        </p>
    </section>
    <section class="mb-8">
        <img src="{%static 'img/minhafoto.jpeg'%}" alt="Imagem Destacada" class="w-full h-auto rounded-lg shadow-md">
    </section>

</main>
{%endblock%}