{%extends 'Blog/base.html'%}

{%block main%}
{% load static %}
<main class="bg-red-100">
<div class=" container mx-100  px-6 py-12 flex items-center justify-center m-0 min-h-screen">
    <section class="mb-8">
        <h1 class="text-3xl font-bold mb-4">Bem-vindo ao Meu Blog!</h1>
        <p class="text-lg text-gray-700">
            Me chamo Brendha e sou aluna do último ano do curso técnico integrado em informática pelo campus Pau dos Ferros do IFRN. Me identifico mais com software do que com hardware e mostro aqui quais são as minhas habilidades na minha área. Esperom que goste do meu currículo!
        </p>
    </section>
    <section class="mb-8">
        <img src="{%static 'img/minhafoto.jpeg'%}" alt="Imagem Destacada"  class="w-64 h-64 rounded-full object-cover">
    </section>
</div>
</main>
{%endblock%}