{%extends 'Blog/base.html'%}

{%block main%}
{% load static %}
<main class="bg-red-100">
<div class=" container mx-100  px-6 py-12 flex items-center justify-center m-0 min-h-screen">
    <section class="mb-8">
        <h1 class="text-3xl font-bold mb-4">Bem-vindo ao Meu Blog!</h1>
        <p class="text-lg text-gray-700">
            Aqui você encontrará artigos sobre diversos temas que me interessam. Desde dicas de programação até reflexões pessoais,
            espero que você encontre algo que ressoe com você.
        </p>
    </section>
    <section class="mb-8">
        <img src="{%static 'img/minhafoto.jpeg'%}" alt="Imagem Destacada"  class="w-64 h-64 rounded-full object-cover">
    </section>
</div>
</main>
{%endblock%}